<h1>Current Player: {{player}}</h1>
<button nbButton outline status="danger" (click)="newGame()">Start Game</button>

<h2 *ngIf="winner">Player {{winner}} won the game!</h2>

<main>
    <app-square *ngFor="let val of squares; let i = index" [value]="val" (click)="newMove(i)">
    </app-square>
</main>